<h1>All Physicians</h1>
<ul>
    <% @physicians.each do |physician| %>
        <li> <%= link_to physician.name, physician_path(physician)%></li><br>
    <% end %>
</ul>
<%= button_to('Add New Physician', new_physician_path, method: :get) %>
<br></br>
<%= button_to('Home', patient_path(current_user), method: :get) %>