<h1>Welcome to Tele Med Appointment Center: <em>an online booking resource for patients</em></h1>
<p> Tele Med is your virtual hub for finding the best physicians in your areas. Use our free online platform to search, add and book your favorite physician today! <strong>OST-NYC</strong> is your destination for just that. 
<p> New Physicians are added frequently </p>
<br> 
<br>

<h2>About</h2>
<p> We are a up-and-coming business. Please bear patienece as we expand our services and provide a quality experience for our users </p>
<br> 
<br>

Sign up or log in below to book your favorite provider today!</p>
<br>
<br>
<%= link_to 'Sign Up', '/signup' %> or <%= link_to 'Log In', '/login' %>
<br>
<br>
<%= link_to('Log in with Facebook!', '/auth/facebook', method: :post) %>
<br>
<%= link_to('Log in with Google!', '/auth/google_oauth2', method: :post) %>