body {
    background-image: path("app/assets/images/bg.jpg");
    background-color: beige;       
    background-size: 100%;         
    color: blue;                  
    text-align: center;           
}